@import "./variables.scss";

#root {
  background-color: $backGroundMain;
}
.app {
  max-width: 700px;
  margin: 0 auto;
  height: 100%;

  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
.container {
  max-width: 670px;
  margin: 0 auto;
}

.padding {
  padding: 10px 0;
}
.padding_big {
  padding: 30px 0;
}

.svg-inline--fa,
.svg-inline--fa.fa-w-14 {
  color: rgb(38, 38, 38);
}
.svg-inline--fa.fa-w-14 {
  width: 24px;
  height: 24px;
}

// Header
.header {
  background: white;
  border: $border;
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    cursor: pointer;
  }
  &__ul {
    display: flex;
    justify-content: space-between;
    width: 95px;
    align-items: center;
  }
  &__icon {
    width: 22px;
    height: 22px;
  }
  &__ul li {
  }
  &__ul li:last-child {
    margin-right: 0;
  }
}

// stort
.storyList {
  background: $white;
  border: $border;
  display: flex;
  overflow-x: scroll;
}

// storyItem
.storyItem {
  text-align: center;
  margin-right: 5px;
  padding-left: 8px;
  padding-top: 8px;

  // &__wrap {
  //   padding-left: 8px;
  //   padding-top: 8px;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   align-items: center;
  // }
  &__img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    border-radius: 50%;
  }
  &__name {
    text-align: center;
    margin-top: 8px;
    font-size: $storyName;
    color: $storyNameColor;
    display: block;
    text-overflow: ellipsis;
    max-width: 74px;
    white-space: nowrap;
    overflow: hidden;
  }
}
.storyItem:last-child {
  margin-right: 0;
}

// FeedList
.feedList {
  background: $white;
  border-radius: 3px;
}

.feedImg {
  width: 100%;
  object-fit: contain;
}
.feedItem {
  margin-bottom: 24px;
  border: $border;
}

.user {
  display: flex;
  line-height: 32px;
  flex: 1;
  &__img {
    margin-right: 10px;
    object-fit: contain;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  &__name {
    font-weight: $fontWeightBold;
    font-size: $feedName;
    color: $feedNameColor;
  }
  &__icon {
    cursor: pointer;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex: 9;
  }
}
.like {
  font-weight: $fontWeightBold;
}

// contentHeader

.feedIcon {
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  &__ul {
    display: flex;
  }
  &__ul li {
    margin-right: 7px;
  }
  &__ul li:last-child {
    margin-right: 0;
  }
}

.contentItem {
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__user {
    font-weight: $fontWeightBold;
    margin-right: 5px;
  }
}
// comment
.comment {
  border-bottom: $border;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon {
    cursor: pointer;
  }
  &__user {
    font-weight: $fontWeightBold;
    margin-right: 5px;
  }
}

// commentInput
.commentInput {
  padding: 10px 0;
  display: flex;
  &__input {
    width: 100%;
    border: none;
  }
  &__icon {
    line-height: 12px;
    margin-right: 10px;
  }
}
