.post {
  border: $border;
}

// PostList
.postEditer {
  font-size: $fontSize20;
  width: 100%;
}

// PostHeader
.postHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;

  &__submit {
    color: $blue;
    cursor: pointer;
  }
}

// PostTag

.PostTag {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// postShare

.postShare {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// postImg
.postImg {
  display: flex;
}

.textarea {
  border: none;
  text-align: center;
  line-height: 50px;
}
