.switchButton {
  position: relative;
  display: inline-block;
  &__label {
    width: 50px;
    height: 29px;
    // width: 112px;
    // height: 68px;
    position: relative;
    display: inline-block;
    background: #404043;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;

    &:after {
      content: "";
      background: $white;
      width: 25px;
      height: 25px;
      border-radius: 13px;
      display: inline-block;
      position: absolute;
      left: 2px;
      top: 2px;
      transition: left 0.3s ease-out;
    }
  }
  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0, 0, 0, 0);
    padding: 0;
    margin: -1px;
  }
  &__checkbox:checked ~ &__label {
    background-color: #73737c;
    &:after {
      left: calc(100% - 27px);
    }
  }
}
