@import "./variables.scss";

.app {
  max-width: 700px;
  margin: 0 auto;
  background: #fafafa;
  border: 1px solid #dbdbdb;
}
.container {
  max-width: 670px;
  margin: 0 auto;
}

.padding {
  padding: 10px 0;
}
.padding_big {
  padding: 30px 0;
}

// Header
.header {
  background: white;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  &__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__nav {
    cursor: pointer;
  }
  &__ul {
    display: flex;
  }
  &__ul li {
    margin-right: 7px;
  }
  &__ul li:last-child {
    margin-right: 0;
  }
}

// stort
.storyList {
  background: $white;
  display: flex;
  overflow-x: scroll;
}

// storyItem
.storyItem {
  width: 56px;
  margin-right: 10px;
  padding-left: 8px;
  padding-top: 8px;

  // &__wrap {
  //   padding-left: 8px;
  //   padding-top: 8px;
  //   display: flex;
  //   justify-content: center;
  //   flex-direction: column;
  //   align-items: center;
  // }
  &__img {
    width: 56px;
    height: 56px;
    object-fit: contain;
    border-radius: 50%;
  }
  &__name {
    text-align: center;
    margin-top: 8px;
    font-size: $storyName;
    color: $storyNameColor;
  }
}
.storyItem:last-child {
  margin-right: 0;
}

// FeedList
.feedList {
  border-radius: 3px;
  border: 1px solid #dbdbdb;
}

.feedImg {
  width: 100%;
  object-fit: contain;
}

.user {
  display: flex;
  line-height: 32px;
  flex: 1;
  &__img {
    margin-right: 10px;
    object-fit: contain;
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
  &__name {
    font-weight: $fontWeightBold;
    font-size: $feedName;
    color: $feedNameColor;
  }
  &__icon {
    cursor: pointer;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    flex: 9;
  }
}
.like {
  font-weight: $fontWeightBold;
}

// contentHeader

.feedIcon {
  cursor: pointer;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  &__ul {
    display: flex;
  }
  &__ul li {
    margin-right: 7px;
  }
  &__ul li:last-child {
    margin-right: 0;
  }
}

// comment

.comment {
  padding: 20px 0;
  display: flex;
  &__input {
    width: 100%;
    border: none;
  }
  &__icon {
    line-height: 12px;
    margin-right: 10px;
  }
}

// contentList
.contentList {
  border-bottom: 1px solid black;
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__icon {
    cursor: pointer;
  }
  &__user {
    font-weight: $fontWeightBold;
    margin-right: 5px;
  }
}
