// PostList
.PostList {
  font-size: $fontSize20;
}

// PostHeader
.postHeader {
  display: flex;
  justify-content: space-between;
  span {
    color: $blue;
  }
}

// PostTag

.PostTag {
  display: flex;
  justify-content: space-between;
}

// postShare

.postShare {
  display: flex;
  justify-content: space-between;
}
